
#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1487px 822px #E455EF, 702px 619px #E455EF, 579px 76px #E455EF,
		881px 14px #E455EF, 1903px 741px #E455EF, 1401px 1791px #E455EF, 1316px 857px #E455EF,
		1628px 1376px #E455EF, 1641px 781px #E455EF, 1421px 25px #E455EF, 525px 254px #E455EF,
		683px 1197px #E455EF, 1636px 1573px #E455EF, 1855px 1220px #E455EF, 108px 1424px #E455EF,
		906px 1967px #E455EF, 205px 1681px #E455EF, 1930px 731px #E455EF, 1957px 104px #E455EF,
		1558px 24px #E455EF, 211px 468px #E455EF, 2px 1001px #E455EF, 664px 1095px #E455EF,
		1023px 1573px #E455EF, 272px 122px #E455EF, 659px 1641px #E455EF, 1518px 1633px #E455EF,
		1736px 1016px #E455EF, 1085px 1911px #E455EF, 737px 1784px #E455EF, 564px 968px #E455EF,
		150px 1277px #E455EF, 1848px 505px #E455EF, 1067px 1414px #E455EF, 1619px 1498px #E455EF,
		266px 757px #E455EF, 450px 1052px #E455EF, 604px 1178px #E455EF, 1069px 1215px #E455EF,
		1045px 1816px #E455EF, 1682px 1111px #E455EF, 578px 1875px #E455EF, 1197px 20px #E455EF,
		736px 1923px #E455EF, 1698px 592px #E455EF, 491px 1835px #E455EF, 106px 1113px #E455EF,
		1944px 1749px #E455EF, 677px 525px #E455EF, 798px 1663px #E455EF, 463px 19px #E455EF,
		1982px 1091px #E455EF, 736px 1597px #E455EF, 244px 1625px #E455EF, 1699px 1257px #E455EF,
		624px 114px #E455EF, 1290px 48px #E455EF, 1007px 1111px #E455EF, 1411px 31px #E455EF,
		1661px 1065px #E455EF, 1583px 1593px #E455EF, 1165px 1985px #E455EF, 351px 222px #E455EF,
		158px 709px #E455EF, 1304px 194px #E455EF, 1192px 1923px #E455EF, 358px 1642px #E455EF,
		889px 1701px #E455EF, 424px 1427px #E455EF, 1928px 573px #E455EF, 1263px 1473px #E455EF,
		498px 33px #E455EF, 1043px 286px #E455EF, 843px 1917px #E455EF, 909px 813px #E455EF,
		1033px 291px #E455EF, 41px 749px #E455EF, 1807px 1719px #E455EF, 1984px 284px #E455EF,
		1983px 1696px #E455EF, 1409px 179px #E455EF, 1350px 929px #E455EF, 332px 1747px #E455EF,
		212px 1977px #E455EF, 1668px 1254px #E455EF, 1585px 1736px #E455EF, 783px 85px #E455EF,
		1961px 847px #E455EF, 1692px 996px #E455EF, 1829px 694px #E455EF, 965px 891px #E455EF,
		1793px 102px #E455EF, 1347px 235px #E455EF, 1566px 1954px #E455EF, 1406px 1765px #E455EF,
		1346px 1832px #E455EF, 452px 1205px #E455EF, 1667px 1688px #E455EF, 1337px 1664px #E455EF,
		1728px 832px #E455EF, 1568px 1213px #E455EF, 1980px 357px #E455EF, 1096px 624px #E455EF,
		210px 636px #E455EF, 1247px 1830px #E455EF, 1789px 1970px #E455EF, 582px 978px #E455EF,
		1473px 1002px #E455EF, 1042px 440px #E455EF, 1189px 879px #E455EF, 24px 931px #E455EF,
		1656px 1848px #E455EF, 401px 1676px #E455EF, 192px 1632px #E455EF, 970px 1936px #E455EF,
		231px 1849px #E455EF, 1860px 127px #E455EF, 469px 1487px #E455EF, 436px 1899px #E455EF,
		680px 1290px #E455EF, 809px 128px #E455EF, 163px 683px #E455EF, 1221px 1732px #E455EF,
		982px 801px #E455EF, 149px 455px #E455EF, 39px 1305px #E455EF, 248px 1059px #E455EF,
		1985px 1040px #E455EF, 823px 1174px #E455EF, 1823px 12px #E455EF, 1558px 1446px #E455EF,
		164px 348px #E455EF, 504px 311px #E455EF, 95px 1735px #E455EF, 1817px 560px #E455EF,
		1527px 1792px #E455EF, 296px 377px #E455EF, 1480px 353px #E455EF, 1419px 1148px #E455EF,
		734px 610px #E455EF, 1233px 1076px #E455EF, 1495px 198px #E455EF, 1722px 1821px #E455EF,
		57px 914px #E455EF, 81px 1967px #E455EF, 157px 1383px #E455EF, 478px 1545px #E455EF,
		96px 1485px #E455EF, 1248px 1516px #E455EF, 1989px 1475px #E455EF, 730px 61px #E455EF,
		646px 342px #E455EF, 656px 376px #E455EF, 809px 1394px #E455EF, 483px 1916px #E455EF,
		695px 1985px #E455EF, 954px 279px #E455EF, 1704px 234px #E455EF, 204px 1621px #E455EF,
		490px 414px #E455EF, 929px 1852px #E455EF, 383px 1017px #E455EF, 1319px 14px #E455EF,
		103px 1147px #E455EF, 1780px 62px #E455EF, 764px 318px #E455EF, 950px 1468px #E455EF,
		767px 8px #E455EF, 1038px 763px #E455EF, 62px 680px #E455EF, 1619px 817px #E455EF,
		1462px 1819px #E455EF, 1340px 1956px #E455EF, 1802px 902px #E455EF, 1739px 1865px #E455EF,
		886px 854px #E455EF, 1760px 1693px #E455EF, 1571px 1175px #E455EF, 1149px 1748px #E455EF,
		1521px 1213px #E455EF, 575px 162px #E455EF, 1904px 456px #E455EF, 1399px 416px #E455EF,
		1325px 1118px #E455EF, 1848px 478px #E455EF, 1447px 841px #E455EF, 457px 1619px #E455EF,
		1202px 1049px #E455EF, 397px 682px #E455EF, 465px 1042px #E455EF, 1264px 1033px #E455EF,
		1304px 1004px #E455EF, 649px 1586px #E455EF, 97px 1308px #E455EF, 21px 619px #E455EF,
		469px 1742px #E455EF, 81px 1745px #E455EF, 1735px 1208px #E455EF, 805px 1206px #E455EF,
		717px 492px #E455EF, 187px 1317px #E455EF, 860px 1290px #E455EF, 1964px 1712px #E455EF,
		1036px 142px #E455EF, 1238px 442px #E455EF, 1766px 423px #E455EF, 925px 353px #E455EF,
		569px 5px #E455EF, 1338px 383px #E455EF, 1321px 90px #E455EF, 1613px 749px #E455EF,
		409px 1835px #E455EF, 642px 715px #E455EF, 1402px 444px #E455EF, 1669px 197px #E455EF,
		291px 1022px #E455EF, 632px 1847px #E455EF, 678px 810px #E455EF, 570px 798px #E455EF,
		1521px 681px #E455EF, 309px 176px #E455EF, 1913px 882px #E455EF, 1129px 1601px #E455EF,
		1310px 1490px #E455EF, 883px 1925px #E455EF, 1354px 140px #E455EF, 1474px 628px #E455EF,
		1997px 230px #E455EF, 351px 1212px #E455EF, 576px 706px #E455EF, 1210px 1325px #E455EF,
		1927px 315px #E455EF, 1505px 1249px #E455EF, 699px 1811px #E455EF, 1428px 913px #E455EF,
		691px 1811px #E455EF, 977px 1645px #E455EF, 330px 260px #E455EF, 1632px 1148px #E455EF,
		878px 1070px #E455EF, 390px 1127px #E455EF, 1915px 1956px #E455EF, 805px 314px #E455EF,
		260px 623px #E455EF, 1471px 1629px #E455EF, 1333px 1800px #E455EF, 1158px 1712px #E455EF,
		813px 641px #E455EF, 608px 761px #E455EF, 529px 1163px #E455EF, 1916px 1476px #E455EF,
		308px 1823px #E455EF, 910px 894px #E455EF, 839px 431px #E455EF, 1638px 1599px #E455EF,
		128px 1590px #E455EF, 1157px 1788px #E455EF, 1035px 773px #E455EF, 389px 277px #E455EF,
		553px 1014px #E455EF, 1978px 668px #E455EF, 615px 1056px #E455EF, 944px 1726px #E455EF,
		974px 324px #E455EF, 1448px 349px #E455EF, 848px 405px #E455EF, 1757px 1457px #E455EF,
		468px 1754px #E455EF, 714px 414px #E455EF, 697px 592px #E455EF, 1434px 1246px #E455EF,
		258px 1687px #E455EF, 953px 1354px #E455EF, 922px 179px #E455EF, 1899px 662px #E455EF,
		1103px 448px #E455EF, 1205px 799px #E455EF, 1256px 1247px #E455EF, 1772px 194px #E455EF,
		1809px 1285px #E455EF, 518px 698px #E455EF, 1906px 332px #E455EF, 1182px 536px #E455EF,
		1758px 354px #E455EF, 131px 1042px #E455EF, 923px 1832px #E455EF, 1117px 1198px #E455EF,
		143px 1532px #E455EF, 1401px 395px #E455EF, 1359px 1550px #E455EF, 615px 206px #E455EF,
		694px 475px #E455EF, 530px 1675px #E455EF, 1413px 1544px #E455EF, 1330px 1429px #E455EF,
		1433px 1453px #E455EF, 1271px 846px #E455EF, 1369px 1790px #E455EF, 517px 1392px #E455EF,
		897px 1434px #E455EF, 1906px 1012px #E455EF, 1523px 1474px #E455EF, 666px 7px #E455EF,
		598px 1273px #E455EF, 1544px 541px #E455EF, 248px 268px #E455EF, 1992px 848px #E455EF,
		571px 870px #E455EF, 1228px 679px #E455EF, 1096px 187px #E455EF, 1553px 15px #E455EF,
		523px 779px #E455EF, 140px 231px #E455EF, 659px 577px #E455EF, 463px 727px #E455EF,
		986px 623px #E455EF, 1822px 1062px #E455EF, 596px 1460px #E455EF, 462px 115px #E455EF,
		1318px 516px #E455EF, 409px 729px #E455EF, 710px 976px #E455EF, 1163px 1539px #E455EF,
		1542px 1362px #E455EF, 394px 1840px #E455EF, 904px 1541px #E455EF, 1549px 538px #E455EF,
		1594px 1384px #E455EF, 1030px 1465px #E455EF, 599px 544px #E455EF, 1933px 241px #E455EF,
		1281px 287px #E455EF, 729px 1282px #E455EF, 819px 364px #E455EF, 797px 1590px #E455EF,
		1023px 1973px #E455EF, 1708px 961px #E455EF, 293px 1953px #E455EF, 1685px 1879px #E455EF,
		1285px 1995px #E455EF, 1380px 219px #E455EF, 1715px 1980px #E455EF, 218px 108px #E455EF,
		700px 711px #E455EF, 471px 1764px #E455EF, 10px 1084px #E455EF, 1841px 1778px #E455EF,
		1765px 1548px #E455EF, 712px 1703px #E455EF, 1866px 1805px #E455EF, 1896px 760px #E455EF,
		1391px 40px #E455EF, 761px 1516px #E455EF, 1329px 584px #E455EF, 385px 1141px #E455EF,
		1238px 21px #E455EF, 1070px 486px #E455EF, 1096px 312px #E455EF, 1254px 1674px #E455EF,
		549px 1349px #E455EF, 1618px 986px #E455EF, 707px 1741px #E455EF, 1718px 1514px #E455EF,
		481px 597px #E455EF, 1690px 1472px #E455EF, 1728px 919px #E455EF, 173px 1196px #E455EF,
		1778px 1257px #E455EF, 1207px 649px #E455EF, 447px 634px #E455EF, 1306px 1444px #E455EF,
		936px 1818px #E455EF, 855px 1015px #E455EF, 1421px 332px #E455EF, 1138px 1889px #E455EF,
		1974px 694px #E455EF, 715px 308px #E455EF, 757px 155px #E455EF, 18px 107px #E455EF,
		561px 378px #E455EF, 144px 798px #E455EF, 1184px 967px #E455EF, 1263px 1130px #E455EF,
		1382px 895px #E455EF, 149px 175px #E455EF, 1297px 839px #E455EF, 943px 454px #E455EF,
		178px 1165px #E455EF, 477px 407px #E455EF, 416px 219px #E455EF, 1056px 1491px #E455EF,
		625px 816px #E455EF, 100px 1537px #E455EF, 1074px 520px #E455EF, 1031px 1453px #E455EF,
		1377px 614px #E455EF, 572px 1314px #E455EF, 1513px 1235px #E455EF, 1920px 1211px #E455EF,
		330px 107px #E455EF, 1260px 772px #E455EF, 1198px 84px #E455EF, 1409px 139px #E455EF,
		758px 98px #E455EF, 698px 1771px #E455EF, 273px 275px #E455EF, 163px 200px #E455EF,
		1665px 732px #E455EF, 95px 600px #E455EF, 522px 122px #E455EF, 76px 804px #E455EF,
		1669px 1526px #E455EF, 1881px 465px #E455EF, 1043px 1919px #E455EF, 1521px 827px #E455EF,
		1197px 1997px #E455EF, 489px 593px #E455EF, 1899px 722px #E455EF, 1575px 332px #E455EF,
		327px 718px #E455EF, 1959px 1378px #E455EF, 455px 1333px #E455EF, 729px 822px #E455EF,
		748px 126px #E455EF, 444px 445px #E455EF, 1856px 262px #E455EF, 1140px 921px #E455EF,
		1680px 1227px #E455EF, 1144px 1742px #E455EF, 1922px 384px #E455EF, 1015px 496px #E455EF,
		1213px 831px #E455EF, 1793px 898px #E455EF, 35px 159px #E455EF, 571px 1505px #E455EF,
		726px 42px #E455EF, 1216px 1214px #E455EF, 938px 50px #E455EF, 322px 1017px #E455EF,
		1222px 523px #E455EF, 660px 1174px #E455EF, 355px 859px #E455EF, 1381px 1648px #E455EF,
		8px 1546px #E455EF, 1768px 17px #E455EF, 301px 1159px #E455EF, 1550px 185px #E455EF,
		1289px 656px #E455EF, 1187px 106px #E455EF, 669px 1498px #E455EF, 555px 323px #E455EF,
		454px 288px #E455EF, 72px 271px #E455EF, 445px 1713px #E455EF, 136px 10px #E455EF,
		1810px 1149px #E455EF, 1445px 794px #E455EF, 406px 1822px #E455EF, 1994px 741px #E455EF,
		1837px 1564px #E455EF, 1264px 80px #E455EF, 273px 845px #E455EF, 322px 1693px #E455EF,
		103px 463px #E455EF, 689px 1161px #E455EF, 353px 717px #E455EF, 1275px 1895px #E455EF,
		1331px 130px #E455EF, 1251px 1424px #E455EF, 1003px 1183px #E455EF, 721px 904px #E455EF,
		1261px 416px #E455EF, 600px 577px #E455EF, 384px 910px #E455EF, 1248px 1547px #E455EF,
		955px 734px #E455EF, 686px 891px #E455EF, 196px 1523px #E455EF, 831px 327px #E455EF,
		845px 1486px #E455EF, 1553px 1438px #E455EF, 1133px 1152px #E455EF, 356px 1087px #E455EF,
		1503px 807px #E455EF, 1098px 1396px #E455EF, 94px 1934px #E455EF, 1195px 58px #E455EF,
		748px 771px #E455EF, 940px 570px #E455EF, 574px 651px #E455EF, 835px 533px #E455EF,
		42px 1210px #E455EF, 496px 1791px #E455EF, 1610px 296px #E455EF, 1446px 1574px #E455EF,
		261px 1765px #E455EF, 818px 368px #E455EF, 573px 743px #E455EF, 545px 333px #E455EF,
		1500px 1567px #E455EF, 1789px 448px #E455EF, 1139px 1559px #E455EF, 1607px 1127px #E455EF,
		1980px 874px #E455EF, 731px 1559px #E455EF, 898px 158px #E455EF, 1641px 1053px #E455EF,
		53px 377px #E455EF, 1879px 1370px #E455EF, 1377px 899px #E455EF, 1416px 829px #E455EF,
		863px 1545px #E455EF, 1219px 1935px #E455EF, 1638px 320px #E455EF, 239px 1807px #E455EF,
		851px 464px #E455EF, 1868px 1843px #E455EF, 679px 203px #E455EF, 1762px 842px #E455EF,
		59px 1986px #E455EF, 1142px 1911px #E455EF, 838px 1030px #E455EF, 1370px 1269px #E455EF,
		781px 274px #E455EF, 1193px 551px #E455EF, 638px 478px #E455EF, 456px 1854px #E455EF,
		424px 690px #E455EF, 13px 600px #E455EF, 306px 1867px #E455EF, 384px 1298px #E455EF,
		762px 342px #E455EF, 1780px 1196px #E455EF, 108px 1138px #E455EF, 1671px 866px #E455EF,
		831px 1515px #E455EF, 218px 1455px #E455EF, 1315px 1494px #E455EF, 1365px 1181px #E455EF,
		168px 986px #E455EF, 349px 506px #E455EF, 974px 1437px #E455EF, 1605px 908px #E455EF,
		1036px 1208px #E455EF, 1082px 1407px #E455EF, 916px 827px #E455EF, 1526px 566px #E455EF,
		1159px 1877px #E455EF, 210px 1180px #E455EF, 979px 1815px #E455EF, 130px 1358px #E455EF,
		1961px 1963px #E455EF, 771px 591px #E455EF, 1905px 487px #E455EF, 1816px 1565px #E455EF,
		333px 1600px #E455EF, 1842px 1774px #E455EF, 1573px 135px #E455EF, 1385px 1889px #E455EF,
		1611px 1033px #E455EF, 367px 1236px #E455EF, 779px 1022px #E455EF, 1851px 62px #E455EF,
		478px 257px #E455EF, 1907px 1960px #E455EF, 1435px 532px #E455EF, 662px 8px #E455EF,
		1027px 1924px #E455EF, 489px 101px #E455EF, 76px 1875px #E455EF, 657px 1682px #E455EF,
		1993px 1955px #E455EF, 1432px 1845px #E455EF, 1530px 1729px #E455EF, 1211px 896px #E455EF,
		1525px 133px #E455EF, 1445px 803px #E455EF, 530px 62px #E455EF, 242px 1513px #E455EF,
		256px 933px #E455EF, 1701px 936px #E455EF, 756px 1893px #E455EF, 1251px 1298px #E455EF,
		380px 1399px #E455EF, 1455px 302px #E455EF, 1729px 1171px #E455EF, 585px 49px #E455EF,
		1961px 1124px #E455EF, 1241px 552px #E455EF, 1205px 40px #E455EF, 1938px 1247px #E455EF,
		1469px 89px #E455EF, 239px 1939px #E455EF, 698px 448px #E455EF, 1795px 346px #E455EF,
		151px 487px #E455EF, 102px 126px #E455EF, 1184px 418px #E455EF, 1625px 1418px #E455EF,
		29px 554px #E455EF, 1288px 1274px #E455EF, 791px 1308px #E455EF, 151px 934px #E455EF,
		1574px 386px #E455EF, 1214px 1703px #E455EF, 1569px 1424px #E455EF, 951px 1830px #E455EF,
		1728px 805px #E455EF, 312px 1987px #E455EF, 1468px 529px #E455EF, 1153px 1146px #E455EF,
		1262px 1021px #E455EF, 1648px 1766px #E455EF, 306px 70px #E455EF, 754px 1165px #E455EF,
		1930px 482px #E455EF, 1814px 1593px #E455EF, 1066px 822px #E455EF, 1250px 877px #E455EF,
		465px 1885px #E455EF, 1649px 1281px #E455EF, 1682px 1601px #E455EF, 1367px 1233px #E455EF,
		91px 1327px #E455EF, 1485px 1355px #E455EF, 501px 1673px #E455EF, 1649px 1259px #E455EF,
		1986px 948px #E455EF, 1266px 1829px #E455EF, 135px 1503px #E455EF, 647px 296px #E455EF,
		155px 341px #E455EF, 649px 1896px #E455EF, 1617px 334px #E455EF, 223px 1507px #E455EF,
		584px 146px #E455EF, 200px 316px #E455EF, 575px 1831px #E455EF, 1374px 1809px #E455EF,
		1445px 386px #E455EF, 475px 1249px #E455EF, 1954px 89px #E455EF, 1756px 1192px #E455EF,
		8px 671px #E455EF, 1366px 1694px #E455EF, 1831px 306px #E455EF, 925px 113px #E455EF,
		160px 1174px #E455EF, 534px 1908px #E455EF, 553px 273px #E455EF, 423px 45px #E455EF,
		1305px 1098px #E455EF, 187px 90px #E455EF, 1993px 1396px #E455EF, 842px 1270px #E455EF,
		1137px 554px #E455EF, 351px 558px #E455EF, 1576px 1070px #E455EF, 437px 312px #E455EF,
		286px 1019px #E455EF, 257px 272px #E455EF, 1242px 1957px #E455EF, 1963px 1693px #E455EF,
		772px 447px #E455EF, 1641px 508px #E455EF, 712px 100px #E455EF, 1307px 1015px #E455EF,
		742px 327px #E455EF, 281px 1814px #E455EF, 1398px 1051px #E455EF, 167px 9px #E455EF,
		328px 1489px #E455EF, 1814px 1804px #E455EF, 946px 25px #E455EF, 549px 1705px #E455EF,
		217px 1477px #E455EF, 1937px 280px #E455EF, 182px 241px #E455EF, 711px 1365px #E455EF,
		1898px 1043px #E455EF, 1807px 346px #E455EF, 1787px 1253px #E455EF, 247px 66px #E455EF,
		1171px 1592px #E455EF, 846px 895px #E455EF, 1507px 720px #E455EF, 787px 574px #E455EF,
		1593px 1267px #E455EF, 843px 1902px #E455EF, 15px 1454px #E455EF, 539px 1420px #E455EF,
		1856px 974px #E455EF, 340px 663px #E455EF, 1579px 1091px #E455EF, 809px 111px #E455EF,
		32px 1128px #E455EF, 69px 1852px #E455EF, 878px 300px #E455EF, 730px 726px #E455EF,
		1137px 68px #E455EF;
	animation: animStar 50s linear infinite;
    
	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: 1487px 822px #E455EF, 702px 619px #E455EF, 579px 76px #E455EF,
			881px 14px #E455EF, 1903px 741px #E455EF, 1401px 1791px #E455EF, 1316px 857px #E455EF,
			1628px 1376px #E455EF, 1641px 781px #E455EF, 1421px 25px #E455EF, 525px 254px #E455EF,
			683px 1197px #E455EF, 1636px 1573px #E455EF, 1855px 1220px #E455EF, 108px 1424px #E455EF,
			906px 1967px #E455EF, 205px 1681px #E455EF, 1930px 731px #E455EF, 1957px 104px #E455EF,
			1558px 24px #E455EF, 211px 468px #E455EF, 2px 1001px #E455EF, 664px 1095px #E455EF,
			1023px 1573px #E455EF, 272px 122px #E455EF, 659px 1641px #E455EF, 1518px 1633px #E455EF,
			1736px 1016px #E455EF, 1085px 1911px #E455EF, 737px 1784px #E455EF, 564px 968px #E455EF,
			150px 1277px #E455EF, 1848px 505px #E455EF, 1067px 1414px #E455EF, 1619px 1498px #E455EF,
			266px 757px #E455EF, 450px 1052px #E455EF, 604px 1178px #E455EF, 1069px 1215px #E455EF,
			1045px 1816px #E455EF, 1682px 1111px #E455EF, 578px 1875px #E455EF, 1197px 20px #E455EF,
			736px 1923px #E455EF, 1698px 592px #E455EF, 491px 1835px #E455EF, 106px 1113px #E455EF,
			1944px 1749px #E455EF, 677px 525px #E455EF, 798px 1663px #E455EF, 463px 19px #E455EF,
			1982px 1091px #E455EF, 736px 1597px #E455EF, 244px 1625px #E455EF, 1699px 1257px #E455EF,
			624px 114px #E455EF, 1290px 48px #E455EF, 1007px 1111px #E455EF, 1411px 31px #E455EF,
			1661px 1065px #E455EF, 1583px 1593px #E455EF, 1165px 1985px #E455EF, 351px 222px #E455EF,
			158px 709px #E455EF, 1304px 194px #E455EF, 1192px 1923px #E455EF, 358px 1642px #E455EF,
			889px 1701px #E455EF, 424px 1427px #E455EF, 1928px 573px #E455EF, 1263px 1473px #E455EF,
			498px 33px #E455EF, 1043px 286px #E455EF, 843px 1917px #E455EF, 909px 813px #E455EF,
			1033px 291px #E455EF, 41px 749px #E455EF, 1807px 1719px #E455EF, 1984px 284px #E455EF,
			1983px 1696px #E455EF, 1409px 179px #E455EF, 1350px 929px #E455EF, 332px 1747px #E455EF,
			212px 1977px #E455EF, 1668px 1254px #E455EF, 1585px 1736px #E455EF, 783px 85px #E455EF,
			1961px 847px #E455EF, 1692px 996px #E455EF, 1829px 694px #E455EF, 965px 891px #E455EF,
			1793px 102px #E455EF, 1347px 235px #E455EF, 1566px 1954px #E455EF, 1406px 1765px #E455EF,
			1346px 1832px #E455EF, 452px 1205px #E455EF, 1667px 1688px #E455EF, 1337px 1664px #E455EF,
			1728px 832px #E455EF, 1568px 1213px #E455EF, 1980px 357px #E455EF, 1096px 624px #E455EF,
			210px 636px #E455EF, 1247px 1830px #E455EF, 1789px 1970px #E455EF, 582px 978px #E455EF,
			1473px 1002px #E455EF, 1042px 440px #E455EF, 1189px 879px #E455EF, 24px 931px #E455EF,
			1656px 1848px #E455EF, 401px 1676px #E455EF, 192px 1632px #E455EF, 970px 1936px #E455EF,
			231px 1849px #E455EF, 1860px 127px #E455EF, 469px 1487px #E455EF, 436px 1899px #E455EF,
			680px 1290px #E455EF, 809px 128px #E455EF, 163px 683px #E455EF, 1221px 1732px #E455EF,
			982px 801px #E455EF, 149px 455px #E455EF, 39px 1305px #E455EF, 248px 1059px #E455EF,
			1985px 1040px #E455EF, 823px 1174px #E455EF, 1823px 12px #E455EF, 1558px 1446px #E455EF,
			164px 348px #E455EF, 504px 311px #E455EF, 95px 1735px #E455EF, 1817px 560px #E455EF,
			1527px 1792px #E455EF, 296px 377px #E455EF, 1480px 353px #E455EF, 1419px 1148px #E455EF,
			734px 610px #E455EF, 1233px 1076px #E455EF, 1495px 198px #E455EF, 1722px 1821px #E455EF,
			57px 914px #E455EF, 81px 1967px #E455EF, 157px 1383px #E455EF, 478px 1545px #E455EF,
			96px 1485px #E455EF, 1248px 1516px #E455EF, 1989px 1475px #E455EF, 730px 61px #E455EF,
			646px 342px #E455EF, 656px 376px #E455EF, 809px 1394px #E455EF, 483px 1916px #E455EF,
			695px 1985px #E455EF, 954px 279px #E455EF, 1704px 234px #E455EF, 204px 1621px #E455EF,
			490px 414px #E455EF, 929px 1852px #E455EF, 383px 1017px #E455EF, 1319px 14px #E455EF,
			103px 1147px #E455EF, 1780px 62px #E455EF, 764px 318px #E455EF, 950px 1468px #E455EF,
			767px 8px #E455EF, 1038px 763px #E455EF, 62px 680px #E455EF, 1619px 817px #E455EF,
			1462px 1819px #E455EF, 1340px 1956px #E455EF, 1802px 902px #E455EF, 1739px 1865px #E455EF,
			886px 854px #E455EF, 1760px 1693px #E455EF, 1571px 1175px #E455EF, 1149px 1748px #E455EF,
			1521px 1213px #E455EF, 575px 162px #E455EF, 1904px 456px #E455EF, 1399px 416px #E455EF,
			1325px 1118px #E455EF, 1848px 478px #E455EF, 1447px 841px #E455EF, 457px 1619px #E455EF,
			1202px 1049px #E455EF, 397px 682px #E455EF, 465px 1042px #E455EF, 1264px 1033px #E455EF,
			1304px 1004px #E455EF, 649px 1586px #E455EF, 97px 1308px #E455EF, 21px 619px #E455EF,
			469px 1742px #E455EF, 81px 1745px #E455EF, 1735px 1208px #E455EF, 805px 1206px #E455EF,
			717px 492px #E455EF, 187px 1317px #E455EF, 860px 1290px #E455EF, 1964px 1712px #E455EF,
			1036px 142px #E455EF, 1238px 442px #E455EF, 1766px 423px #E455EF, 925px 353px #E455EF,
			569px 5px #E455EF, 1338px 383px #E455EF, 1321px 90px #E455EF, 1613px 749px #E455EF,
			409px 1835px #E455EF, 642px 715px #E455EF, 1402px 444px #E455EF, 1669px 197px #E455EF,
			291px 1022px #E455EF, 632px 1847px #E455EF, 678px 810px #E455EF, 570px 798px #E455EF,
			1521px 681px #E455EF, 309px 176px #E455EF, 1913px 882px #E455EF, 1129px 1601px #E455EF,
			1310px 1490px #E455EF, 883px 1925px #E455EF, 1354px 140px #E455EF, 1474px 628px #E455EF,
			1997px 230px #E455EF, 351px 1212px #E455EF, 576px 706px #E455EF, 1210px 1325px #E455EF,
			1927px 315px #E455EF, 1505px 1249px #E455EF, 699px 1811px #E455EF, 1428px 913px #E455EF,
			691px 1811px #E455EF, 977px 1645px #E455EF, 330px 260px #E455EF, 1632px 1148px #E455EF,
			878px 1070px #E455EF, 390px 1127px #E455EF, 1915px 1956px #E455EF, 805px 314px #E455EF,
			260px 623px #E455EF, 1471px 1629px #E455EF, 1333px 1800px #E455EF, 1158px 1712px #E455EF,
			813px 641px #E455EF, 608px 761px #E455EF, 529px 1163px #E455EF, 1916px 1476px #E455EF,
			308px 1823px #E455EF, 910px 894px #E455EF, 839px 431px #E455EF, 1638px 1599px #E455EF,
			128px 1590px #E455EF, 1157px 1788px #E455EF, 1035px 773px #E455EF, 389px 277px #E455EF,
			553px 1014px #E455EF, 1978px 668px #E455EF, 615px 1056px #E455EF, 944px 1726px #E455EF,
			974px 324px #E455EF, 1448px 349px #E455EF, 848px 405px #E455EF, 1757px 1457px #E455EF,
			468px 1754px #E455EF, 714px 414px #E455EF, 697px 592px #E455EF, 1434px 1246px #E455EF,
			258px 1687px #E455EF, 953px 1354px #E455EF, 922px 179px #E455EF, 1899px 662px #E455EF,
			1103px 448px #E455EF, 1205px 799px #E455EF, 1256px 1247px #E455EF, 1772px 194px #E455EF,
			1809px 1285px #E455EF, 518px 698px #E455EF, 1906px 332px #E455EF, 1182px 536px #E455EF,
			1758px 354px #E455EF, 131px 1042px #E455EF, 923px 1832px #E455EF, 1117px 1198px #E455EF,
			143px 1532px #E455EF, 1401px 395px #E455EF, 1359px 1550px #E455EF, 615px 206px #E455EF,
			694px 475px #E455EF, 530px 1675px #E455EF, 1413px 1544px #E455EF, 1330px 1429px #E455EF,
			1433px 1453px #E455EF, 1271px 846px #E455EF, 1369px 1790px #E455EF, 517px 1392px #E455EF,
			897px 1434px #E455EF, 1906px 1012px #E455EF, 1523px 1474px #E455EF, 666px 7px #E455EF,
			598px 1273px #E455EF, 1544px 541px #E455EF, 248px 268px #E455EF, 1992px 848px #E455EF,
			571px 870px #E455EF, 1228px 679px #E455EF, 1096px 187px #E455EF, 1553px 15px #E455EF,
			523px 779px #E455EF, 140px 231px #E455EF, 659px 577px #E455EF, 463px 727px #E455EF,
			986px 623px #E455EF, 1822px 1062px #E455EF, 596px 1460px #E455EF, 462px 115px #E455EF,
			1318px 516px #E455EF, 409px 729px #E455EF, 710px 976px #E455EF, 1163px 1539px #E455EF,
			1542px 1362px #E455EF, 394px 1840px #E455EF, 904px 1541px #E455EF, 1549px 538px #E455EF,
			1594px 1384px #E455EF, 1030px 1465px #E455EF, 599px 544px #E455EF, 1933px 241px #E455EF,
			1281px 287px #E455EF, 729px 1282px #E455EF, 819px 364px #E455EF, 797px 1590px #E455EF,
			1023px 1973px #E455EF, 1708px 961px #E455EF, 293px 1953px #E455EF, 1685px 1879px #E455EF,
			1285px 1995px #E455EF, 1380px 219px #E455EF, 1715px 1980px #E455EF, 218px 108px #E455EF,
			700px 711px #E455EF, 471px 1764px #E455EF, 10px 1084px #E455EF, 1841px 1778px #E455EF,
			1765px 1548px #E455EF, 712px 1703px #E455EF, 1866px 1805px #E455EF, 1896px 760px #E455EF,
			1391px 40px #E455EF, 761px 1516px #E455EF, 1329px 584px #E455EF, 385px 1141px #E455EF,
			1238px 21px #E455EF, 1070px 486px #E455EF, 1096px 312px #E455EF, 1254px 1674px #E455EF,
			549px 1349px #E455EF, 1618px 986px #E455EF, 707px 1741px #E455EF, 1718px 1514px #E455EF,
			481px 597px #E455EF, 1690px 1472px #E455EF, 1728px 919px #E455EF, 173px 1196px #E455EF,
			1778px 1257px #E455EF, 1207px 649px #E455EF, 447px 634px #E455EF, 1306px 1444px #E455EF,
			936px 1818px #E455EF, 855px 1015px #E455EF, 1421px 332px #E455EF, 1138px 1889px #E455EF,
			1974px 694px #E455EF, 715px 308px #E455EF, 757px 155px #E455EF, 18px 107px #E455EF,
			561px 378px #E455EF, 144px 798px #E455EF, 1184px 967px #E455EF, 1263px 1130px #E455EF,
			1382px 895px #E455EF, 149px 175px #E455EF, 1297px 839px #E455EF, 943px 454px #E455EF,
			178px 1165px #E455EF, 477px 407px #E455EF, 416px 219px #E455EF, 1056px 1491px #E455EF,
			625px 816px #E455EF, 100px 1537px #E455EF, 1074px 520px #E455EF, 1031px 1453px #E455EF,
			1377px 614px #E455EF, 572px 1314px #E455EF, 1513px 1235px #E455EF, 1920px 1211px #E455EF,
			330px 107px #E455EF, 1260px 772px #E455EF, 1198px 84px #E455EF, 1409px 139px #E455EF,
			758px 98px #E455EF, 698px 1771px #E455EF, 273px 275px #E455EF, 163px 200px #E455EF,
			1665px 732px #E455EF, 95px 600px #E455EF, 522px 122px #E455EF, 76px 804px #E455EF,
			1669px 1526px #E455EF, 1881px 465px #E455EF, 1043px 1919px #E455EF, 1521px 827px #E455EF,
			1197px 1997px #E455EF, 489px 593px #E455EF, 1899px 722px #E455EF, 1575px 332px #E455EF,
			327px 718px #E455EF, 1959px 1378px #E455EF, 455px 1333px #E455EF, 729px 822px #E455EF,
			748px 126px #E455EF, 444px 445px #E455EF, 1856px 262px #E455EF, 1140px 921px #E455EF,
			1680px 1227px #E455EF, 1144px 1742px #E455EF, 1922px 384px #E455EF, 1015px 496px #E455EF,
			1213px 831px #E455EF, 1793px 898px #E455EF, 35px 159px #E455EF, 571px 1505px #E455EF,
			726px 42px #E455EF, 1216px 1214px #E455EF, 938px 50px #E455EF, 322px 1017px #E455EF,
			1222px 523px #E455EF, 660px 1174px #E455EF, 355px 859px #E455EF, 1381px 1648px #E455EF,
			8px 1546px #E455EF, 1768px 17px #E455EF, 301px 1159px #E455EF, 1550px 185px #E455EF,
			1289px 656px #E455EF, 1187px 106px #E455EF, 669px 1498px #E455EF, 555px 323px #E455EF,
			454px 288px #E455EF, 72px 271px #E455EF, 445px 1713px #E455EF, 136px 10px #E455EF,
			1810px 1149px #E455EF, 1445px 794px #E455EF, 406px 1822px #E455EF, 1994px 741px #E455EF,
			1837px 1564px #E455EF, 1264px 80px #E455EF, 273px 845px #E455EF, 322px 1693px #E455EF,
			103px 463px #E455EF, 689px 1161px #E455EF, 353px 717px #E455EF, 1275px 1895px #E455EF,
			1331px 130px #E455EF, 1251px 1424px #E455EF, 1003px 1183px #E455EF, 721px 904px #E455EF,
			1261px 416px #E455EF, 600px 577px #E455EF, 384px 910px #E455EF, 1248px 1547px #E455EF,
			955px 734px #E455EF, 686px 891px #E455EF, 196px 1523px #E455EF, 831px 327px #E455EF,
			845px 1486px #E455EF, 1553px 1438px #E455EF, 1133px 1152px #E455EF, 356px 1087px #E455EF,
			1503px 807px #E455EF, 1098px 1396px #E455EF, 94px 1934px #E455EF, 1195px 58px #E455EF,
			748px 771px #E455EF, 940px 570px #E455EF, 574px 651px #E455EF, 835px 533px #E455EF,
			42px 1210px #E455EF, 496px 1791px #E455EF, 1610px 296px #E455EF, 1446px 1574px #E455EF,
			261px 1765px #E455EF, 818px 368px #E455EF, 573px 743px #E455EF, 545px 333px #E455EF,
			1500px 1567px #E455EF, 1789px 448px #E455EF, 1139px 1559px #E455EF, 1607px 1127px #E455EF,
			1980px 874px #E455EF, 731px 1559px #E455EF, 898px 158px #E455EF, 1641px 1053px #E455EF,
			53px 377px #E455EF, 1879px 1370px #E455EF, 1377px 899px #E455EF, 1416px 829px #E455EF,
			863px 1545px #E455EF, 1219px 1935px #E455EF, 1638px 320px #E455EF, 239px 1807px #E455EF,
			851px 464px #E455EF, 1868px 1843px #E455EF, 679px 203px #E455EF, 1762px 842px #E455EF,
			59px 1986px #E455EF, 1142px 1911px #E455EF, 838px 1030px #E455EF, 1370px 1269px #E455EF,
			781px 274px #E455EF, 1193px 551px #E455EF, 638px 478px #E455EF, 456px 1854px #E455EF,
			424px 690px #E455EF, 13px 600px #E455EF, 306px 1867px #E455EF, 384px 1298px #E455EF,
			762px 342px #E455EF, 1780px 1196px #E455EF, 108px 1138px #E455EF, 1671px 866px #E455EF,
			831px 1515px #E455EF, 218px 1455px #E455EF, 1315px 1494px #E455EF, 1365px 1181px #E455EF,
			168px 986px #E455EF, 349px 506px #E455EF, 974px 1437px #E455EF, 1605px 908px #E455EF,
			1036px 1208px #E455EF, 1082px 1407px #E455EF, 916px 827px #E455EF, 1526px 566px #E455EF,
			1159px 1877px #E455EF, 210px 1180px #E455EF, 979px 1815px #E455EF, 130px 1358px #E455EF,
			1961px 1963px #E455EF, 771px 591px #E455EF, 1905px 487px #E455EF, 1816px 1565px #E455EF,
			333px 1600px #E455EF, 1842px 1774px #E455EF, 1573px 135px #E455EF, 1385px 1889px #E455EF,
			1611px 1033px #E455EF, 367px 1236px #E455EF, 779px 1022px #E455EF, 1851px 62px #E455EF,
			478px 257px #E455EF, 1907px 1960px #E455EF, 1435px 532px #E455EF, 662px 8px #E455EF,
			1027px 1924px #E455EF, 489px 101px #E455EF, 76px 1875px #E455EF, 657px 1682px #E455EF,
			1993px 1955px #E455EF, 1432px 1845px #E455EF, 1530px 1729px #E455EF, 1211px 896px #E455EF,
			1525px 133px #E455EF, 1445px 803px #E455EF, 530px 62px #E455EF, 242px 1513px #E455EF,
			256px 933px #E455EF, 1701px 936px #E455EF, 756px 1893px #E455EF, 1251px 1298px #E455EF,
			380px 1399px #E455EF, 1455px 302px #E455EF, 1729px 1171px #E455EF, 585px 49px #E455EF,
			1961px 1124px #E455EF, 1241px 552px #E455EF, 1205px 40px #E455EF, 1938px 1247px #E455EF,
			1469px 89px #E455EF, 239px 1939px #E455EF, 698px 448px #E455EF, 1795px 346px #E455EF,
			151px 487px #E455EF, 102px 126px #E455EF, 1184px 418px #E455EF, 1625px 1418px #E455EF,
			29px 554px #E455EF, 1288px 1274px #E455EF, 791px 1308px #E455EF, 151px 934px #E455EF,
			1574px 386px #E455EF, 1214px 1703px #E455EF, 1569px 1424px #E455EF, 951px 1830px #E455EF,
			1728px 805px #E455EF, 312px 1987px #E455EF, 1468px 529px #E455EF, 1153px 1146px #E455EF,
			1262px 1021px #E455EF, 1648px 1766px #E455EF, 306px 70px #E455EF, 754px 1165px #E455EF,
			1930px 482px #E455EF, 1814px 1593px #E455EF, 1066px 822px #E455EF, 1250px 877px #E455EF,
			465px 1885px #E455EF, 1649px 1281px #E455EF, 1682px 1601px #E455EF, 1367px 1233px #E455EF,
			91px 1327px #E455EF, 1485px 1355px #E455EF, 501px 1673px #E455EF, 1649px 1259px #E455EF,
			1986px 948px #E455EF, 1266px 1829px #E455EF, 135px 1503px #E455EF, 647px 296px #E455EF,
			155px 341px #E455EF, 649px 1896px #E455EF, 1617px 334px #E455EF, 223px 1507px #E455EF,
			584px 146px #E455EF, 200px 316px #E455EF, 575px 1831px #E455EF, 1374px 1809px #E455EF,
			1445px 386px #E455EF, 475px 1249px #E455EF, 1954px 89px #E455EF, 1756px 1192px #E455EF,
			8px 671px #E455EF, 1366px 1694px #E455EF, 1831px 306px #E455EF, 925px 113px #E455EF,
			160px 1174px #E455EF, 534px 1908px #E455EF, 553px 273px #E455EF, 423px 45px #E455EF,
			1305px 1098px #E455EF, 187px 90px #E455EF, 1993px 1396px #E455EF, 842px 1270px #E455EF,
			1137px 554px #E455EF, 351px 558px #E455EF, 1576px 1070px #E455EF, 437px 312px #E455EF,
			286px 1019px #E455EF, 257px 272px #E455EF, 1242px 1957px #E455EF, 1963px 1693px #E455EF,
			772px 447px #E455EF, 1641px 508px #E455EF, 712px 100px #E455EF, 1307px 1015px #E455EF,
			742px 327px #E455EF, 281px 1814px #E455EF, 1398px 1051px #E455EF, 167px 9px #E455EF,
			328px 1489px #E455EF, 1814px 1804px #E455EF, 946px 25px #E455EF, 549px 1705px #E455EF,
			217px 1477px #E455EF, 1937px 280px #E455EF, 182px 241px #E455EF, 711px 1365px #E455EF,
			1898px 1043px #E455EF, 1807px 346px #E455EF, 1787px 1253px #E455EF, 247px 66px #E455EF,
			1171px 1592px #E455EF, 846px 895px #E455EF, 1507px 720px #E455EF, 787px 574px #E455EF,
			1593px 1267px #E455EF, 843px 1902px #E455EF, 15px 1454px #E455EF, 539px 1420px #E455EF,
			1856px 974px #E455EF, 340px 663px #E455EF, 1579px 1091px #E455EF, 809px 111px #E455EF,
			32px 1128px #E455EF, 69px 1852px #E455EF, 878px 300px #E455EF, 730px 726px #E455EF,
			1137px 68px #E455EF;
	}
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 592px 134px #E455EF, 346px 741px #E455EF, 1000px 1781px #E455EF,
		996px 728px #E455EF, 1085px 1462px #E455EF, 526px 1128px #E455EF, 1951px 557px #E455EF,
		673px 92px #E455EF, 415px 776px #E455EF, 1570px 643px #E455EF, 121px 697px #E455EF,
		782px 1847px #E455EF, 1853px 256px #E455EF, 910px 195px #E455EF, 362px 1201px #E455EF,
		52px 1627px #E455EF, 387px 899px #E455EF, 547px 1995px #E455EF, 1298px 440px #E455EF,
		1474px 1713px #E455EF, 1109px 1322px #E455EF, 1720px 1237px #E455EF, 473px 1196px #E455EF,
		1682px 580px #E455EF, 1476px 655px #E455EF, 1254px 731px #E455EF, 1069px 1840px #E455EF,
		291px 1789px #E455EF, 825px 1237px #E455EF, 1067px 543px #E455EF, 962px 990px #E455EF,
		1606px 1387px #E455EF, 884px 1555px #E455EF, 1209px 1830px #E455EF, 439px 535px #E455EF,
		360px 1451px #E455EF, 1018px 1837px #E455EF, 1964px 677px #E455EF, 1095px 159px #E455EF,
		390px 245px #E455EF, 1869px 597px #E455EF, 1857px 544px #E455EF, 745px 1186px #E455EF,
		336px 1867px #E455EF, 250px 1377px #E455EF, 1872px 168px #E455EF, 878px 1299px #E455EF,
		1257px 177px #E455EF, 984px 303px #E455EF, 544px 303px #E455EF, 1250px 1052px #E455EF,
		152px 1322px #E455EF, 1466px 289px #E455EF, 1104px 1116px #E455EF, 1796px 482px #E455EF,
		1086px 525px #E455EF, 1540px 1822px #E455EF, 196px 1999px #E455EF, 1893px 771px #E455EF,
		1171px 1728px #E455EF, 1996px 710px #E455EF, 436px 370px #E455EF, 1270px 1570px #E455EF,
		55px 900px #E455EF, 1875px 1291px #E455EF, 337px 1251px #E455EF, 25px 5px #E455EF,
		1619px 835px #E455EF, 410px 676px #E455EF, 956px 531px #E455EF, 90px 489px #E455EF,
		561px 576px #E455EF, 907px 45px #E455EF, 1657px 810px #E455EF, 1029px 1705px #E455EF,
		1281px 828px #E455EF, 466px 961px #E455EF, 674px 1105px #E455EF, 456px 918px #E455EF,
		331px 148px #E455EF, 1105px 1681px #E455EF, 922px 319px #E455EF, 1600px 1403px #E455EF,
		420px 977px #E455EF, 166px 1637px #E455EF, 1033px 1668px #E455EF, 1884px 208px #E455EF,
		552px 720px #E455EF, 1543px 119px #E455EF, 587px 103px #E455EF, 348px 1766px #E455EF,
		664px 761px #E455EF, 565px 1253px #E455EF, 1472px 1332px #E455EF, 471px 1569px #E455EF,
		747px 76px #E455EF, 1429px 308px #E455EF, 1850px 597px #E455EF, 1148px 1085px #E455EF,
		307px 208px #E455EF, 253px 736px #E455EF, 148px 122px #E455EF, 366px 1163px #E455EF,
		1589px 1436px #E455EF, 1359px 1027px #E455EF, 1805px 95px #E455EF, 910px 837px #E455EF,
		1578px 976px #E455EF, 954px 710px #E455EF, 743px 1552px #E455EF, 271px 686px #E455EF,
		1960px 1336px #E455EF, 740px 1431px #E455EF, 972px 1184px #E455EF, 1690px 1942px #E455EF,
		1222px 839px #E455EF, 1151px 164px #E455EF, 1248px 871px #E455EF, 893px 1975px #E455EF,
		1979px 859px #E455EF, 139px 642px #E455EF, 856px 523px #E455EF, 879px 1186px #E455EF,
		1440px 1036px #E455EF, 1624px 1411px #E455EF, 1320px 1239px #E455EF, 1747px 1662px #E455EF,
		1155px 765px #E455EF, 885px 43px #E455EF, 552px 1690px #E455EF, 731px 293px #E455EF,
		1655px 1809px #E455EF, 187px 1766px #E455EF, 811px 1318px #E455EF, 716px 241px #E455EF,
		633px 668px #E455EF, 916px 1359px #E455EF, 1054px 620px #E455EF, 1038px 1345px #E455EF,
		1334px 1118px #E455EF, 393px 52px #E455EF, 1722px 590px #E455EF, 1329px 244px #E455EF,
		1388px 1983px #E455EF, 66px 1845px #E455EF, 172px 995px #E455EF, 1258px 1766px #E455EF,
		310px 110px #E455EF, 1019px 1705px #E455EF, 394px 1471px #E455EF, 489px 1962px #E455EF,
		183px 1155px #E455EF, 90px 1153px #E455EF, 845px 60px #E455EF, 403px 1930px #E455EF,
		820px 256px #E455EF, 394px 1716px #E455EF, 1744px 690px #E455EF, 831px 1562px #E455EF,
		110px 1000px #E455EF, 1604px 585px #E455EF, 1954px 1442px #E455EF, 397px 1085px #E455EF,
		242px 1785px #E455EF, 1216px 1885px #E455EF, 1873px 1700px #E455EF, 1181px 8px #E455EF,
		1978px 701px #E455EF, 1968px 391px #E455EF, 1621px 947px #E455EF, 1142px 1244px #E455EF,
		558px 584px #E455EF, 881px 767px #E455EF, 96px 960px #E455EF, 1143px 262px #E455EF,
		690px 1357px #E455EF, 218px 1363px #E455EF, 1507px 16px #E455EF, 1947px 1785px #E455EF,
		755px 1928px #E455EF, 1620px 1126px #E455EF, 1194px 1932px #E455EF, 728px 1068px #E455EF,
		542px 1765px #E455EF, 1159px 1334px #E455EF, 1284px 444px #E455EF, 1623px 1161px #E455EF,
		190px 1011px #E455EF, 855px 1379px #E455EF, 1244px 30px #E455EF, 1144px 1873px #E455EF,
		1276px 958px #E455EF, 1675px 1097px #E455EF, 354px 1735px #E455EF, 1534px 235px #E455EF,
		560px 1850px #E455EF, 493px 1737px #E455EF, 782px 598px #E455EF, 1709px 1377px #E455EF,
		717px 1040px #E455EF;
	animation: animStar 100s linear infinite;
	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: 592px 134px #E455EF, 346px 741px #E455EF, 1000px 1781px #E455EF,
			996px 728px #E455EF, 1085px 1462px #E455EF, 526px 1128px #E455EF, 1951px 557px #E455EF,
			673px 92px #E455EF, 415px 776px #E455EF, 1570px 643px #E455EF, 121px 697px #E455EF,
			782px 1847px #E455EF, 1853px 256px #E455EF, 910px 195px #E455EF, 362px 1201px #E455EF,
			52px 1627px #E455EF, 387px 899px #E455EF, 547px 1995px #E455EF, 1298px 440px #E455EF,
			1474px 1713px #E455EF, 1109px 1322px #E455EF, 1720px 1237px #E455EF, 473px 1196px #E455EF,
			1682px 580px #E455EF, 1476px 655px #E455EF, 1254px 731px #E455EF, 1069px 1840px #E455EF,
			291px 1789px #E455EF, 825px 1237px #E455EF, 1067px 543px #E455EF, 962px 990px #E455EF,
			1606px 1387px #E455EF, 884px 1555px #E455EF, 1209px 1830px #E455EF, 439px 535px #E455EF,
			360px 1451px #E455EF, 1018px 1837px #E455EF, 1964px 677px #E455EF, 1095px 159px #E455EF,
			390px 245px #E455EF, 1869px 597px #E455EF, 1857px 544px #E455EF, 745px 1186px #E455EF,
			336px 1867px #E455EF, 250px 1377px #E455EF, 1872px 168px #E455EF, 878px 1299px #E455EF,
			1257px 177px #E455EF, 984px 303px #E455EF, 544px 303px #E455EF, 1250px 1052px #E455EF,
			152px 1322px #E455EF, 1466px 289px #E455EF, 1104px 1116px #E455EF, 1796px 482px #E455EF,
			1086px 525px #E455EF, 1540px 1822px #E455EF, 196px 1999px #E455EF, 1893px 771px #E455EF,
			1171px 1728px #E455EF, 1996px 710px #E455EF, 436px 370px #E455EF, 1270px 1570px #E455EF,
			55px 900px #E455EF, 1875px 1291px #E455EF, 337px 1251px #E455EF, 25px 5px #E455EF,
			1619px 835px #E455EF, 410px 676px #E455EF, 956px 531px #E455EF, 90px 489px #E455EF,
			561px 576px #E455EF, 907px 45px #E455EF, 1657px 810px #E455EF, 1029px 1705px #E455EF,
			1281px 828px #E455EF, 466px 961px #E455EF, 674px 1105px #E455EF, 456px 918px #E455EF,
			331px 148px #E455EF, 1105px 1681px #E455EF, 922px 319px #E455EF, 1600px 1403px #E455EF,
			420px 977px #E455EF, 166px 1637px #E455EF, 1033px 1668px #E455EF, 1884px 208px #E455EF,
			552px 720px #E455EF, 1543px 119px #E455EF, 587px 103px #E455EF, 348px 1766px #E455EF,
			664px 761px #E455EF, 565px 1253px #E455EF, 1472px 1332px #E455EF, 471px 1569px #E455EF,
			747px 76px #E455EF, 1429px 308px #E455EF, 1850px 597px #E455EF, 1148px 1085px #E455EF,
			307px 208px #E455EF, 253px 736px #E455EF, 148px 122px #E455EF, 366px 1163px #E455EF,
			1589px 1436px #E455EF, 1359px 1027px #E455EF, 1805px 95px #E455EF, 910px 837px #E455EF,
			1578px 976px #E455EF, 954px 710px #E455EF, 743px 1552px #E455EF, 271px 686px #E455EF,
			1960px 1336px #E455EF, 740px 1431px #E455EF, 972px 1184px #E455EF, 1690px 1942px #E455EF,
			1222px 839px #E455EF, 1151px 164px #E455EF, 1248px 871px #E455EF, 893px 1975px #E455EF,
			1979px 859px #E455EF, 139px 642px #E455EF, 856px 523px #E455EF, 879px 1186px #E455EF,
			1440px 1036px #E455EF, 1624px 1411px #E455EF, 1320px 1239px #E455EF,
			1747px 1662px #E455EF, 1155px 765px #E455EF, 885px 43px #E455EF, 552px 1690px #E455EF,
			731px 293px #E455EF, 1655px 1809px #E455EF, 187px 1766px #E455EF, 811px 1318px #E455EF,
			716px 241px #E455EF, 633px 668px #E455EF, 916px 1359px #E455EF, 1054px 620px #E455EF,
			1038px 1345px #E455EF, 1334px 1118px #E455EF, 393px 52px #E455EF, 1722px 590px #E455EF,
			1329px 244px #E455EF, 1388px 1983px #E455EF, 66px 1845px #E455EF, 172px 995px #E455EF,
			1258px 1766px #E455EF, 310px 110px #E455EF, 1019px 1705px #E455EF, 394px 1471px #E455EF,
			489px 1962px #E455EF, 183px 1155px #E455EF, 90px 1153px #E455EF, 845px 60px #E455EF,
			403px 1930px #E455EF, 820px 256px #E455EF, 394px 1716px #E455EF, 1744px 690px #E455EF,
			831px 1562px #E455EF, 110px 1000px #E455EF, 1604px 585px #E455EF, 1954px 1442px #E455EF,
			397px 1085px #E455EF, 242px 1785px #E455EF, 1216px 1885px #E455EF, 1873px 1700px #E455EF,
			1181px 8px #E455EF, 1978px 701px #E455EF, 1968px 391px #E455EF, 1621px 947px #E455EF,
			1142px 1244px #E455EF, 558px 584px #E455EF, 881px 767px #E455EF, 96px 960px #E455EF,
			1143px 262px #E455EF, 690px 1357px #E455EF, 218px 1363px #E455EF, 1507px 16px #E455EF,
			1947px 1785px #E455EF, 755px 1928px #E455EF, 1620px 1126px #E455EF, 1194px 1932px #E455EF,
			728px 1068px #E455EF, 542px 1765px #E455EF, 1159px 1334px #E455EF, 1284px 444px #E455EF,
			1623px 1161px #E455EF, 190px 1011px #E455EF, 855px 1379px #E455EF, 1244px 30px #E455EF,
			1144px 1873px #E455EF, 1276px 958px #E455EF, 1675px 1097px #E455EF, 354px 1735px #E455EF,
			1534px 235px #E455EF, 560px 1850px #E455EF, 493px 1737px #E455EF, 782px 598px #E455EF,
			1709px 1377px #E455EF, 717px 1040px #E455EF;
	}
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 222px 946px #E455EF, 408px 926px #E455EF, 1608px 1741px #E455EF,
		1977px 1436px #E455EF, 713px 1152px #E455EF, 139px 39px #E455EF, 497px 1590px #E455EF,
		1808px 1652px #E455EF, 598px 667px #E455EF, 1962px 75px #E455EF, 331px 1245px #E455EF,
		1600px 1822px #E455EF, 1463px 883px #E455EF, 299px 335px #E455EF, 1229px 909px #E455EF,
		448px 581px #E455EF, 1346px 571px #E455EF, 1247px 458px #E455EF, 799px 186px #E455EF,
		643px 404px #E455EF, 1330px 790px #E455EF, 299px 699px #E455EF, 1593px 1891px #E455EF,
		934px 1230px #E455EF, 1162px 1835px #E455EF, 903px 1024px #E455EF, 596px 900px #E455EF,
		1223px 1078px #E455EF, 682px 1024px #E455EF, 151px 373px #E455EF, 54px 1586px #E455EF,
		657px 1902px #E455EF, 812px 273px #E455EF, 705px 1142px #E455EF, 1902px 1353px #E455EF,
		1222px 1980px #E455EF, 767px 158px #E455EF, 22px 663px #E455EF, 1055px 727px #E455EF,
		1728px 750px #E455EF, 223px 287px #E455EF, 438px 127px #E455EF, 224px 1146px #E455EF,
		1594px 1466px #E455EF, 1505px 436px #E455EF, 389px 1049px #E455EF, 596px 435px #E455EF,
		1997px 1798px #E455EF, 29px 51px #E455EF, 40px 514px #E455EF, 1779px 769px #E455EF,
		652px 1211px #E455EF, 1599px 347px #E455EF, 1854px 1941px #E455EF, 485px 1633px #E455EF,
		697px 1894px #E455EF, 1772px 877px #E455EF, 555px 1030px #E455EF, 976px 1338px #E455EF,
		541px 1112px #E455EF, 817px 899px #E455EF, 961px 923px #E455EF, 115px 1321px #E455EF,
		875px 434px #E455EF, 1577px 1980px #E455EF, 1160px 131px #E455EF, 15px 160px #E455EF,
		979px 56px #E455EF, 959px 1756px #E455EF, 1358px 435px #E455EF, 563px 591px #E455EF,
		1284px 475px #E455EF, 341px 601px #E455EF, 74px 471px #E455EF, 416px 584px #E455EF,
		692px 536px #E455EF, 1041px 377px #E455EF, 1601px 1923px #E455EF, 1014px 241px #E455EF,
		122px 1594px #E455EF, 1510px 280px #E455EF, 195px 1720px #E455EF, 152px 104px #E455EF,
		1686px 811px #E455EF, 1329px 750px #E455EF, 1655px 441px #E455EF, 1288px 1040px #E455EF,
		1802px 1368px #E455EF, 767px 615px #E455EF, 302px 195px #E455EF, 1973px 1902px #E455EF,
		1088px 1583px #E455EF, 1840px 1126px #E455EF, 500px 111px #E455EF, 1263px 667px #E455EF,
		1748px 121px #E455EF, 1608px 364px #E455EF, 1064px 1610px #E455EF, 1682px 1826px #E455EF,
		1747px 1800px #E455EF;
	animation: animStar 150s linear infinite;
	&:after {
		content: "";
		position: absolute;
		top: 2000px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: 222px 946px #E455EF, 408px 926px #E455EF, 1608px 1741px #E455EF,
			1977px 1436px #E455EF, 713px 1152px #E455EF, 139px 39px #E455EF, 497px 1590px #E455EF,
			1808px 1652px #E455EF, 598px 667px #E455EF, 1962px 75px #E455EF, 331px 1245px #E455EF,
			1600px 1822px #E455EF, 1463px 883px #E455EF, 299px 335px #E455EF, 1229px 909px #E455EF,
			448px 581px #E455EF, 1346px 571px #E455EF, 1247px 458px #E455EF, 799px 186px #E455EF,
			643px 404px #E455EF, 1330px 790px #E455EF, 299px 699px #E455EF, 1593px 1891px #E455EF,
			934px 1230px #E455EF, 1162px 1835px #E455EF, 903px 1024px #E455EF, 596px 900px #E455EF,
			1223px 1078px #E455EF, 682px 1024px #E455EF, 151px 373px #E455EF, 54px 1586px #E455EF,
			657px 1902px #E455EF, 812px 273px #E455EF, 705px 1142px #E455EF, 1902px 1353px #E455EF,
			1222px 1980px #E455EF, 767px 158px #E455EF, 22px 663px #E455EF, 1055px 727px #E455EF,
			1728px 750px #E455EF, 223px 287px #E455EF, 438px 127px #E455EF, 224px 1146px #E455EF,
			1594px 1466px #E455EF, 1505px 436px #E455EF, 389px 1049px #E455EF, 596px 435px #E455EF,
			1997px 1798px #E455EF, 29px 51px #E455EF, 40px 514px #E455EF, 1779px 769px #E455EF,
			652px 1211px #E455EF, 1599px 347px #E455EF, 1854px 1941px #E455EF, 485px 1633px #E455EF,
			697px 1894px #E455EF, 1772px 877px #E455EF, 555px 1030px #E455EF, 976px 1338px #E455EF,
			541px 1112px #E455EF, 817px 899px #E455EF, 961px 923px #E455EF, 115px 1321px #E455EF,
			875px 434px #E455EF, 1577px 1980px #E455EF, 1160px 131px #E455EF, 15px 160px #E455EF,
			979px 56px #E455EF, 959px 1756px #E455EF, 1358px 435px #E455EF, 563px 591px #E455EF,
			1284px 475px #E455EF, 341px 601px #E455EF, 74px 471px #E455EF, 416px 584px #E455EF,
			692px 536px #E455EF, 1041px 377px #E455EF, 1601px 1923px #E455EF, 1014px 241px #E455EF,
			122px 1594px #E455EF, 1510px 280px #E455EF, 195px 1720px #E455EF, 152px 104px #E455EF,
			1686px 811px #E455EF, 1329px 750px #E455EF, 1655px 441px #E455EF, 1288px 1040px #E455EF,
			1802px 1368px #E455EF, 767px 615px #E455EF, 302px 195px #E455EF, 1973px 1902px #E455EF,
			1088px 1583px #E455EF, 1840px 1126px #E455EF, 500px 111px #E455EF, 1263px 667px #E455EF,
			1748px 121px #E455EF, 1608px 364px #E455EF, 1064px 1610px #E455EF, 1682px 1826px #E455EF,
			1747px 1800px #E455EF;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}